<!-- Layanan Section -->
    <section id="Layanan">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2> Our Service</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col md-4 text-center">
                    <div class="Card-Pelayanan">
                        <div class="circle-icon position-relative mx-auto">
                            <img src="" alt="" class="position-absolute top-40 start-50 translate middle">
                        </div>
                        <h3 class="sub-title mt-4">TERIMA BOOKING</h3>
                    </div>
                </div>
                <div class="col md-4 text-center">
                    <div class="Card-Pelayanan">
                        <div class="circle-icon position-relative mx-auto">
                            <img src="" alt="" class="position-absolute top-40 start-50 translate middle">
                        </div>
                        <h3 class="sub-title mt-4">TERIMA BOOKING</h3>
                    </div>
                <div>
                <div class="col md-4 text-center">
                    <div class="Card-Pelayanan">
                        <div class="circle-icon position-relative mx-auto">
                            <img src="" alt="" class="position-absolute top-40 start-50 translate middle">
                        </div>
                        <h3 class="sub-title mt-4">TERIMA BOOKING</h3>
                    </div>
                <div>        
            </div>
        </div>

    </section>

    <section id="search">
        <div class="'container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-center mt-5">
                        Cari Lokasi Cuci Mobil Terdekat
                    </h2>
                    <p class="text-center">Pilih Sesuai Lokasi Anda berad Yang terdekat Dri Tempat Cuci Mobil</p>
                </div>
                <div class="col md-4 text-center">
                    <div class="Card-search">
                        <div class="circle-icon-search position-relative mx-auto">
                            <img src="" alt="" class="position-absolute top-40 start-50 translate middle">
                        </div>
                        <h3 class="sub-title mt-4">Bojong Soang</h3>
                        <p>Jl Raya Bojong Soang Timur Kec Dayeuh Kolot, Kab.Bandung Selatan, jawa Barat</p>
                    </div>
                </div>
                <div class="col md-4 text-center">
                    <div class="Card-search">
                        <div class="circle-icon-search position-relative mx-auto">
                            <img src="" alt="" class="position-absolute top-40 start-50 translate middle">
                        </div>
                        <h3 class="sub-title mt-4">Bojong Soang</h3>
                        <p>Jl Raya Bojong Soang Timur Kec Dayeuh Kolot, Kab.Bandung Selatan, jawa Barat</p>
                    </div>
                </div>
                                    <div class="col md-4 text-center">
                        <div class="Card-search">
                            <div class="circle-icon-search position-relative mx-auto">
                                <img src="" alt="" class="position-absolute top-40 start-50 translate middle">
                            </div>
                            <h3 class="sub-title mt-4">Bojong Soang</h3>
                            <p>Jl Raya Bojong Soang Timur Kec Dayeuh Kolot, Kab.Bandung Selatan, jawa Barat</p>
                        </div>

                        
                    </div>
                    <div class="col md-4 text-center">
                        <div class="Card-search">
                            <div class="circle-icon-search position-relative mx-auto">
                                <img src="" alt="" class="position-absolute top-40 start-50 translate middle">
                            </div>
                            <h3 class="sub-title mt-4">Bojong Soang</h3>
                            <p>Jl Raya Bojong Soang Timur Kec Dayeuh Kolot, Kab.Bandung Selatan, jawa Barat</p>
                        </div>
                    </div>
                    <div class="col md-4 text-center">
                        <div class="Card-search">
                            <div class="circle-icon-search position-relative mx-auto">
                                <img src="" alt="" class="position-absolute top-40 start-50 translate middle">
                            </div>
                            <h3 class="sub-title mt-4">Bojong Soang</h3>
                            <p>Jl Raya Bojong Soang Timur Kec Dayeuh Kolot, Kab.Bandung Selatan, jawa Barat</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-10">

        </div>
    </section>

